
.navbar {
  background-color: $red;

  &-nav_after:not(:nth-child(1)) {
    &::after {
      content: '';
      border-left: 1px solid #E5E5E5;
      position: absolute;
      left: 0;
      top: 0;
      height: 24px;
    }
  }
}


@include media-breakpoint-down(sm) {
  .navbar {
    background-color: transparent;
    position: initial;

    button {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(0%, 88%);
      z-index: 800;
    }

    &-collapse {
      transition: .5s ease-in-out;
    }

    &-nav {
      background-color: $red;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    .nav-item {
      &::after {
        content: none;
      }
    }
  }
  .logo-img {
    height: 44px;
  }
}

