/* $rfs-base-font-size: 1.15rem; */
/* $slick-loader-path: "../../assets/images/"; */
/*$font-size-root: $size;*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --bs-gutter-r: 0.06rem;
  --bs-gutter-l: 1.43rem;
}

html {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.252px;
}

@media (max-width: 575.98px) {
  html {
    font-size: 12px;
    line-height: 1.75;
    letter-spacing: 0.216px;
  }
}

.container-xxl {
  width: 100%;
  padding-right: 0.06rem;
  padding-right: var(--bs-gutter-r, 0.75rem);
  padding-left: 1.43rem;
  padding-left: var(--bs-gutter-l, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

.z-0 {
  z-index: 900;
}

.z-1 {
  z-index: 1000;
}

.z-2 {
  z-index: 1020;
}

.z-3 {
  z-index: 1030;
}

.z-4 {
  z-index: 1040;
}

.z-5 {
  z-index: 1050;
}

.z-6 {
  z-index: 1060;
}

.z-7 {
  z-index: 1070;
}

.cr_point {
  cursor: pointer;
}

.fs-7 {
  font-size: 0.875rem;
}

.fs-8 {
  font-size: 0.75rem;
}

.fs-9 {
  font-size: 0.8125rem;
}

.fs-16 {
  font-size: 16px;
}

.px-51 {
  padding-left: 3.1875rem;
  padding-right: 3.1875rem;
}

.cursor-pointer {
  cursor: pointer;
}

.bg-no-repeat {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.ps-10 {
  margin-left: 0.6rem;
}

.py-09 {
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
  top: 1px;
}

.p-03 {
  padding: 0.3em 0.27em;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.px-38 {
  padding-left: 37px;
  padding-right: 36px;
  letter-spacing: 1.195px;
}

.pt-2_8 {
  padding-top: .8rem;
  padding-bottom: 1rem;
}

.ls-001 {
  letter-spacing: .001em;
}

.dropdown-toggle::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='8' viewBox='0 0 12 8' fill='none'%3E%3Cpath d='M9.87998 1.29006L5.99998 5.17006L2.11998 1.29006C1.72998 0.900059 1.09998 0.900059 0.70998 1.29006C0.31998 1.68006 0.31998 2.31006 0.70998 2.70006L5.29998 7.29006C5.68998 7.68006 6.31998 7.68006 6.70998 7.29006L11.3 2.70006C11.69 2.31006 11.69 1.68006 11.3 1.29006C10.91 0.910059 10.27 0.900059 9.87998 1.29006Z' fill='black'/%3E%3C/svg%3E");
  border: none;
  vertical-align: 0.1em;
  margin-left: 7px;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='10' viewBox='0 0 15 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 1C0 0.447715 0.447715 0 1 0H19C19.5523 0 20 0.447715 20 1C20 1.55228 19.5523 2 19 2H1C0.447716 2 0 1.55228 0 1Z' fill='%23F30000'/%3E%3Cpath d='M0 7.03223C0 6.47994 0.447715 6.03223 1 6.03223H19C19.5523 6.03223 20 6.47994 20 7.03223C20 7.58451 19.5523 8.03223 19 8.03223H1C0.447716 8.03223 0 7.58451 0 7.03223Z' fill='%23F30000'/%3E%3Cpath d='M1 12.0645C0.447715 12.0645 0 12.5122 0 13.0645C0 13.6167 0.447716 14.0645 1 14.0645H19C19.5523 14.0645 20 13.6167 20 13.0645C20 12.5122 19.5523 12.0645 19 12.0645H1Z' fill='%23F30000'/%3E%3C/svg%3E");
}

.text-transparent {
  color: transparent;
}

.text-transparent:hover {
  color: transparent;
}

.top-r-10 {
  top: 0.625rem;
}

.end-r-18 {
  right: 1.125rem;
}

.badge_red {
  background-color: #F30000;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.faq .collapse_after {
  position: relative;
  left: 21px;
}

.faq .collapse_after::after {
  content: url("data:image/svg+xml,%3Csvg xmlns= 'http://www.w3.org/2000/svg' width= '12' height= '8' viewBox= '0 0 12 8' fill= 'none' %3E%3Cpath d= 'M9.87998 1.29006L5.99998 5.17006L2.11998 1.29006C1.72998 0.900059 1.09998 0.900059 0.70998 1.29006C0.31998 1.68006 0.31998 2.31006 0.70998 2.70006L5.29998 7.29006C5.68998 7.68006 6.31998 7.68006 6.70998 7.29006L11.3 2.70006C11.69 2.31006 11.69 1.68006 11.3 1.29006C10.91 0.910059 10.27 0.900059 9.87998 1.29006Z' fill= 'black' /%3E%3C/svg%3E");
  vertical-align: 0.1em;
  position: absolute;
  right: 7%;
}

.faq .collapse {
  -webkit-transition: .7s ease-in-out;
  -o-transition: .7s ease-in-out;
  transition: .7s ease-in-out;
}

.nav-link {
  font-weight: 400;
}

.nav-link.active {
  font-weight: 700;
}

.footer * {
  z-index: 3;
}

.footer__text {
  font-size: 1rem;
}

.footer::before {
  content: '';
  background-image: url("../images/footer_before.webp");
  background-clip: padding-box;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position: 52% -8%;
  background-size: auto;
  width: 100%;
  height: 50%;
  position: absolute;
  z-index: 2;
}

.footer__after::after {
  content: '';
  background-image: url("../images/footer_after.webp");
  background-clip: padding-box;
  background-origin: border-box;
  background-repeat: repeat;
  background-size: contain;
  width: 104%;
  height: 100%;
  position: absolute;
  right: 2%;
  top: 18%;
  z-index: 1;
}

.section_pt {
  padding-top: 4.6875rem;
}

.mt-30 {
  margin-top: 1.875rem;
}

.mb-30 {
  margin-bottom: 1.875rem;
}

.banner {
  margin-top: 2.25rem;
  margin-bottom: 1.875rem;
}

.banner img {
  left: 2.9px;
  position: relative;
}

.bigest_hidden {
  overflow-y: auto;
  max-height: 27.5625rem;
}

.bigest_hidden::-webkit-scrollbar {
  width: 0;
}

.card_w {
  height: 382px;
}

@media (min-width: 768px) {
  .col-p-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 12%;
  }
}

@media (max-width: 575.98px) {
  .section_pt {
    padding-top: 1.9375rem;
  }
  .banner {
    margin-bottom: 0.9375rem;
    margin-top: 0.625rem;
  }
  .banner__container {
    padding-right: 0;
    padding-left: 0;
  }
  .footer__text {
    font-size: 0.875rem;
  }
  .footer__after::after {
    height: 75%;
  }
  .bigest_hidden {
    max-height: 1000px;
  }
  .card_w {
    height: auto;
  }
}

.btn-avatar {
  border-radius: 4px;
}

.bias_4-2 {
  position: relative;
  top: 4px;
  left: -2px;
}

@media (max-width: 575.98px) {
  main {
    overflow: hidden;
  }
  main .banner__container-row {
    height: 15rem;
    top: 8px;
  }
  main .banner img {
    left: 0;
    position: relative;
  }
}

/*
.transition-test {
  img {
    animation: shake .8s linear alternate-reverse;
  }
}

@keyframes shake {
  from {
    opacity: .4;
  }
  100% {
    opacity: 1;
    transform: translate(-150%) scale(0.5);
  }
}*/
.header .navbar {
  background-color: #F30000;
}

.header .navbar .navbar-nav .nav-link {
  padding-left: 0.45rem;
  padding-top: 0.2rem;
  letter-spacing: 0.27px;
}

.header .navbar-nav_after::before {
  content: '';
  border-left: 1px solid #E5E5E5;
  position: absolute;
  right: -4px;
  top: 1px;
  height: 24px;
}

.header .navbar-nav_after:last-child::before {
  right: -10px;
}

@media (min-width: 768px) {
  .header {
    padding-top: 7px;
  }
}

@media (max-width: 575.98px) {
  .header {
    overflow: hidden;
  }
  .header__logo {
    position: relative;
    right: 8px;
    width: 199px;
    top: 1px;
  }
  .header__button {
    position: relative;
    bottom: 36px;
    right: 2px;
  }
  .header__profile-link {
    position: relative;
    right: 14px;
  }
  .header__welcome {
    position: relative;
    top: 4px;
    font-size: 14px;
    letter-spacing: 1px;
    right: 13px;
  }
  .header__welcome-balance {
    position: relative;
    left: 9px;
  }
  .navbar {
    background-color: transparent;
    position: static;
    position: initial;
  }
  .navbar button {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translate(0%, 88%);
        -ms-transform: translate(0%, 88%);
            transform: translate(0%, 88%);
    z-index: 800;
  }
  .navbar-collapse {
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
  }
  .navbar-nav {
    background-color: #F30000;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .navbar .nav-item::after {
    content: none;
  }
  .logo-img {
    height: 44px;
  }
}

.card-info__bias {
  margin-left: -0.25rem;
  margin-top: -0.125rem;
}

.card-info__text {
  letter-spacing: -0.01px;
  line-height: 1.3;
}

.card-info__title {
  position: relative;
  letter-spacing: -.8px;
}

.card-info__link {
  position: relative;
  top: 0;
  left: -11px;
}

.card-info__image {
  top: 4px;
  position: relative;
}

.card-info .web-buy__body {
  padding-bottom: 0.5rem;
}

.card-info .web-buy .card-info__text {
  letter-spacing: .01rem;
}

.card-info .you-win img {
  top: 8px;
  left: -4px;
}

.card-info .you-win__body {
  left: -9px;
  position: relative;
}

.card-info .you-win .card-info__link {
  left: 0px;
}

.card-info .you-pick img {
  top: -1px;
}

@media (max-width: 575.98px) {
  .card-info {
    top: 10px;
    right: 17px;
  }
  .card-info__link {
    left: -13px;
  }
  .card-info__title {
    letter-spacing: 0;
  }
  .card-info__text {
    position: relative;
    font-size: 14px;
  }
  .card-info__bias .card {
    width: 28.7rem;
  }
  .card-info__bias .card__row {
    height: 6.8rem;
  }
  .card-info__bias .card .you-pick__body {
    position: relative;
    left: 6px;
  }
  .card-info__bias .card .you-pick img {
    top: -1px;
    left: 2px;
  }
  .card-info .web-buy .card-info__image {
    top: -3px;
    left: 2px;
  }
  .card-info .web-buy__body {
    position: relative;
    left: 5px;
  }
  .card-info .web-buy .card-info__text {
    top: 4px;
    right: 1px;
  }
  .card-info .you-win img {
    top: 3px;
    left: -3px;
  }
  .card-info .you-win__body {
    left: -6px;
  }
  .card-info .you-win .card-info__text {
    top: 3px;
  }
}

.biggest-lottery h2 {
  letter-spacing: -.26px;
}

.biggest-lottery__body {
  right: 1.8rem;
  top: 0.625rem;
}

.biggest-lottery__body span {
  position: relative;
  left: 7px;
  top: 2px;
}

.biggest-lottery__body p {
  position: relative;
  top: 8px;
  letter-spacing: 0.6px;
  left: 3px;
}

.biggest-lottery .btn-warning {
  width: 170px;
  bottom: 2px;
  letter-spacing: .7px;
  right: 2px;
}

.biggest-lottery__lotto img {
  left: 8px;
  top: -3px;
}

.biggest-lottery__mega {
  left: 3px;
  top: 1px;
}

.biggest-lottery__mega img {
  left: 9px;
  bottom: 3px;
}

.biggest-lottery__mega .btn-warning {
  bottom: 4px;
}

.biggest-lottery__mega .biggest-lottery__body {
  right: 1.5625rem;
}

.biggest-lottery__mega .biggest-lottery__body span {
  left: 1px;
}

.biggest-lottery__ball {
  left: 6px;
}

.biggest-lottery__ball img {
  left: 9px;
  bottom: 2px;
}

.biggest-lottery__ball .biggest-lottery__text {
  left: 5px;
  position: relative;
}

.biggest-lottery__time {
  font-size: 1.125rem;
  right: 16px;
  bottom: 4px;
  letter-spacing: 1px;
}

.biggest-your .py-09 {
  top: 2px;
}

.biggest-your .bigest_hidden {
  position: relative;
  top: 3px;
  left: 1px;
}

.biggest-your .img-card {
  position: relative;
  top: 31px;
  left: 7px;
}

.biggest-your__won {
  right: 22px;
  position: relative;
  top: 5px;
}

.biggest-your__won .h2 {
  right: 2px;
  position: relative;
}

.biggest-your__won .display-6 {
  right: 12px;
  position: relative;
}

.biggest-your__uk {
  position: relative;
  right: 17px;
  letter-spacing: 0px;
}

.biggest-your__uk ul {
  right: 6px;
  top: 3px;
  position: relative;
}

.biggest-your__title {
  right: 9px;
}

.biggest-your .vincent {
  top: 10px;
  right: 2px;
}

.biggest-your .vincent__title {
  letter-spacing: .02px;
}

.biggest-your .vincent__text {
  letter-spacing: .1px;
}

.biggest-your .vincent a {
  top: 10px;
  right: 23px;
  letter-spacing: 0;
}

.biggest-your .vincent button {
  top: 20px;
  right: 22px;
  border-radius: 8px;
  font-size: 14px;
  padding: 9px 85px;
}

.biggest-your .your-latest p {
  position: relative;
}

.biggest-your .your-latest__title {
  top: 2px;
}

.biggest-your .your-latest__price {
  bottom: 2px;
  left: 0px;
  letter-spacing: .8px;
}

.biggest-your .your-latest__tick {
  bottom: 7px;
  letter-spacing: .6px;
  left: 2px;
}

.biggest-your .your-latest__row-card {
  position: relative;
  right: 4px;
}

.pay__container {
  position: relative;
  right: 6px;
  padding-right: 5px;
  top: 1px;
  padding-left: 42px;
}

.pay__row {
  padding: 0 2.5rem;
}

.pay__row .card-footer .btn-warning {
  width: 182px;
  height: 38px;
  right: 3px;
  position: relative;
  letter-spacing: 1px;
}

.pay__row .card .price {
  letter-spacing: -0.5px;
}

.pay__link {
  position: relative;
  right: 35px;
  top: 5px;
}

.faq__title {
  font-size: 24px;
  letter-spacing: .01px;
  position: relative;
  bottom: 2px;
  right: 1px;
}

.footer__whatsapp {
  bottom: 4px;
  left: 6px;
  letter-spacing: .91px;
}

.footer__whatsapp .card img {
  position: relative;
  right: 2px;
  top: 1px;
}

.footer__whatsapp .card__p-last {
  letter-spacing: 0;
}

.footer .ps-11 {
  padding-left: 11px;
}

.footer__after {
  position: relative;
  left: 5%;
}

.footer__after-first {
  bottom: 7px;
}

.footer__after-first h2 {
  position: relative;
  right: 12px;
  letter-spacing: 0.1px;
  font-size: 16px;
}

.footer__after-first nav {
  line-height: 26px;
  position: relative;
  top: 7px;
  letter-spacing: .01px;
}

.footer__center {
  position: relative;
  bottom: 5px;
  line-height: 16px;
  right: 5px;
}

.footer__center-text {
  width: 75%;
  letter-spacing: 0px;
  position: relative;
  line-height: 14.5px;
  top: 4px;
}

.footer__center address {
  position: relative;
  bottom: 5px;
  font-size: 13px;
  letter-spacing: 0;
}

.footer__last {
  position: relative;
  right: 35px;
  bottom: 6px;
  letter-spacing: 0;
}

.footer__last-bank {
  position: relative;
  right: 2px;
}

.footer__last-securety {
  position: relative;
  top: 7px;
  right: 5px;
  letter-spacing: -0.5px;
}
