//bootstrap
$blue: #0061A3;
$orange: #F39320;
$yellow: #F7D300;
$purple: #593F62;
$green: #13902A;
$red: #F30000;
$secondary: #5f5f5f;
$white: #fff;
$light: #E5E5E5;


$size: 14px;

//link

// Base font size
/* $rfs-base-font-size: 1.15rem; */
$rfs-rem-value: 10;
// Factor of decrease
$rfs-factor: 23;

$enable-rounded: true;
$enable-responsive-font-sizes: true;
$border-radius: 8px;

$font-family-sans-serif: "Roboto", sans-serif;
$font-weight-normal: 500;
//$font-family-sans-serif: "Raleway", sans-serif;
//$font-family-sans-serif: 'Helvetica Neue', sans-serif;

//slick
/* $slick-loader-path: "../../assets/images/"; */

// Breadcrumbs
$breadcrumb-item-padding-x: 1rem;

//light gallery
$backdrop-opacity: 0.5;

//формирование базы шрифта
/*$font-size-root: $size;*/
$line_height: 21px;
$va: 18;

$zindex-dropdown: 1000;
$zindex-sticky: 1020;
$zindex-fixed: 1030;
$zindex-modal-backdrop: 1040;
$zindex-modal: 1050;
$zindex-popover: 1060;
$zindex-tooltip: 1070;

$spacer: 1rem !default;

// scss-docs-end box-shadow-variables

//$component-active-bg: $secondary;

$text-muted: #5F5F5F;
