/*
.transition-test {
  img {
    animation: shake .8s linear alternate-reverse;
  }
}

@keyframes shake {
  from {
    opacity: .4;
  }
  100% {
    opacity: 1;
    transform: translate(-150%) scale(0.5);
  }
}*/
