<section class="all mb-1">
    <div class="container-xxl all__bg bg-no-repeat">
        <div class="row">
            <div class="col all__opacity bg-no-repeat p-5">
                <div class="card bg-transparent border-0 text-muted rounded-0 mt-4">
                    <div class="row gx-0">
                        <div class="col">
                            <div class="d-flex justify-content-center align-items-center">
                                <div class="all__image bg-white shadow">
                                    <img src="@img/sifon.webp"
                                         class="img-fluid pe-3 mt-5 pt-4 mb-1 d-block mx-auto position-relative"
                                         alt="richtigen"
                                         title="richtigen">
                                </div>
                            </div>
                        </div>

                        <div class="col text-white pt-4 mt-1">
                            <div class="w-80">
                                <h2 class="ff_anton text-uppercase text-all mb-3">Ist ihr haar durch kalkablagerungen
                                    ganz
                                    geworden?</h2>
                                <p class="card-text fs-25 mb-4 fw-300 lh-sm">Dann haben wir eine kostengünstige, aber
                                    effektive Lösung
                                    für Sie: Der MAUNAWAI Duschkopf-Filter, der das Wasser während des Duschens mühelos
                                    filtert.</p>
                            </div>
                            <button class="btn btn-image ff_open-sans text-uppercase mt-4 me-4 py-3 position-relative">
                                JA, ICH WILL GESUNDE HAUT UND HAARE!
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>