<section class="bigest_your position-relative">
    <div class="container-xxl pt-4">
        <div class="row">
            <div class="col-7">
                <div class="card border-0 bg-danger p-2 w-100">
                    <h2 class="text-center text-uppercase fs-3 m-0 text-white">BIGGEST LOTTERY WINNER</h2>
                </div>
                <div class="card py-3 mt-3">
                    <div class="row flex-row align-items-center justify-content-center">
                        <div class="col-auto">
                            <img src="@img/star-loto.webp" class="img-fluid mx-auto d-inline-block" title="winner"
                                 alt="winner">
                        </div>
                        <div class="col-auto">
                            <p class="text-uppercase h2 fw-normal mb-0">Won</p>
                        </div>
                        <div class="col-auto">
                            <p class="display-6 fw-bold text-center text-primary mb-0">€100 000 000</p>
                        </div>
                    </div>
                    <div class="row row-cols-2 align-items-center justify-content-around">
                        <div class="col">
                            <img src="@img/prise.webp" class="img-fluid mx-auto d-block" title="winner"
                                 alt="winner">
                            <div class="d-flex align-items-start justify-content-center mt-3">
                                <p class="text-uppercase fw-normal mt-1 me-3">UK Lotto results:
                                </p>
                                <div class="d-flex flex-column">
                                    <ul class="list-unstyled d-flex m-0">
                                        {{#repeat 5}}
                                        <li class="me-1"><span class="badge rounded-circle bg-danger p-2 fs-7">07</span>
                                        </li>
                                        {{/repeat}}
                                    </ul>
                                    <p class="text-end fs-7 pe-4 mb-0 mt-2">Date: 20.11.2021</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="d-flex flex-column">
                                <p class="fs-5 fw-normal">Shaun Vincent a Lottery Winner</p>
                                <p>Shaun Vincent, from Barnsley, celebrates his £1,158,038 National Lottery win after
                                    his cheque presentation at the Cedar Court Hotel, Wakefield.</p>
                                <a href="" class="text-center link-primary my-4">Read the full story</a>
                                <div class="w-100 text-center">
                                    <button class="btn btn-warning btn-lg w-50">Play Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <div class="card border-0 bg-danger p-2 w-100">
                    <h2 class="text-center text-uppercase fs-3 m-0 text-white">OUR LATEST WINNERS</h2>
                </div>
                <div class="row row-cols-2 row-cols-md-3 row-cols-lg-5 mt-3">
                    {{#repeat 10}}
                    <div class="col p-2">
                        <div class="card h-100 py-3">
                            <img src="@img/icons/icons.svg#star"
                                 class="img-fluid d-inline-block me-1 position-absolute top-r-10 end-r-18"
                                 width="20"
                                 height="14"
                                 alt="star">
                            <div class="row flex-column align-items-center justify-content-around">
                                <div class="col-auto">
                                    <img src="@img/mega-round.webp" class="img-fluid mx-auto d-block" title="winner"
                                         alt="winner">
                                </div>
                                <div class="col-auto">
                                    <div class="d-flex flex-nowrap justify-content-center"><img
                                            src="@img/icons/icons.svg#country-eng"
                                            class="img-fluid d-inline-block me-1 svg-whatsapp-dims"
                                            width="20"
                                            height="14"
                                            alt="country">
                                        <span class="text-uppercase">Mega мillions</span>
                                    </div>
                                    <p class="fs-3 text-center mb-0">$122 000 000</p>
                                </div>
                            </div>
                            <div class="card-footer bg-transparent border-0 ">
                                <div class="row row-cols-1 align-items-center justify-content-center">
                                    <div class="col pb-2">
                                        <div class="d-flex flex-nowrap justify-content-center"><img
                                                src="@img/icons/icons.svg#alarm-blue"
                                                class="img-fluid d-inline-block me-1 svg-whatsapp-dims"
                                                width="16"
                                                height="16"
                                                alt="country">
                                            <span class="text-uppercase text-primary">1:22:01</span>
                                        </div>
                                    </div>
                                    <div class="col text-center pt-1">
                                        <button class="btn btn-warning px-51">Play Now</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/repeat}}
                </div>
            </div>
        </div>
    </div>
</section>