<section class="bigest_your position-relative">
    <div class="container-xxl pt-4">
        <div class="row">
            <div class="col-7">
                <div class="card border-0 bg-danger p-2 w-100">
                    <h2 class="text-center text-uppercase fs-3 m-0 text-white">BIGGEST LOTTERY WINNER</h2>
                </div>
                <div class="card py-3 mt-3">
                    <div class="row flex-row align-items-center justify-content-center">
                        <div class="col-auto">
                            <img src="@img/star-loto.webp" class="img-fluid mx-auto d-inline-block" title="winner"
                                 alt="winner">
                        </div>
                        <div class="col-auto">
                            <p class="text-uppercase h2 fw-normal mb-0">Won</p>
                        </div>
                        <div class="col-auto">
                            <p class="display-6 fw-bold text-center text-primary mb-0">€100 000 000</p>
                        </div>
                    </div>
                    <div class="row row-cols-2 align-items-center justify-content-around">
                        <div class="col">
                            <img src="@img/prise.webp" class="img-fluid mx-auto d-block" title="winner"
                                 alt="winner">
                            <div class="d-flex align-items-start justify-content-center mt-3">
                                <p class="text-uppercase fw-normal mt-1 me-3">UK Lotto results:
                                </p>
                                <div class="d-flex flex-column">
                                    <ul class="list-unstyled d-flex m-0">
                                        {{#repeat 5}}
                                        <li class="me-1"><span class="badge rounded-circle bg-danger p-2 fs-7">07</span>
                                        </li>
                                        {{/repeat}}
                                    </ul>
                                    <p class="text-end fs-7 pe-4 mb-0 mt-2">Date: 20.11.2021</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="d-flex flex-column">
                                <p class="fs-5 fw-normal">Shaun Vincent a Lottery Winner</p>
                                <p>Shaun Vincent, from Barnsley, celebrates his £1,158,038 National Lottery win after
                                    his cheque presentation at the Cedar Court Hotel, Wakefield.</p>
                                <a href="" class="text-center link-primary my-4">Read the full story</a>
                                <div class="w-100 text-center">
                                    <button class="btn btn-warning btn-lg w-50">Play Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <div class="card border-0 bg-danger p-2 w-100">
                    <h2 class="text-center text-uppercase fs-3 m-0 text-white">OUR LATEST WINNERS</h2>
                </div>
                <div class="row row-cols-1">
                    <div class="col p-2">
                        <div class="card h-100 py-3">
                            <p class="fs-5 text-center m-0">Total prizes paid out</p>
                            <p class="fs-3 fw-bold text-success text-center m-0">US$ 107 233 768</p>
                            <p class="fs-3 fw-normal text-center m-0">6 975 146 <span
                                    class="fs-5 fw-400">winning tickets</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row row-cols-1 mt-3">
                    {{#repeat 3}}
                    <div class="col p-2">
                        <div class="card">
                            <div class="row align-items-center g-0">
                                <div class="col-auto">
                                    <img src="@img/logo_card.webp" class="img-fluid mx-auto d-block"
                                         title="winner" alt="winner">
                                </div>
                                <div class="col ps-3">
                                    <div class="d-flex flex-column justify-content-between">
                                        <p class="text-start fw-400 m-0">20.11.2021</p>
                                        <address>
                                            <img src="@img/icons/icons.svg#country-dem"
                                                 class="img-fluid d-inline-block me-auto svg-whatsapp-dims" width="20"
                                                 height="14" alt="country">
                                            <strong class="fw-normal">J.J won Р175</strong><br>
                                            <span class="text-muted fw-400">in 7 ИЗ 49 draw #13476</span><br>
                                        </address>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/repeat}}
                </div>
            </div>
        </div>
</section>