<section class="biggest-your position-relative section_pt">
    <div class="container-xxl">
        <div class="row d-none d-md-flex ps-3 pb-2">
            <div class="col-12 col-lg-8 mt-3 px-3">
                <div class="card border-0 bg-danger py-09 w-100">
                    <h2 class="text-center text-uppercase fs-5 m-0 text-white">BIGGEST LOTTERY WINNER</h2>
                </div>
            </div>
            <div class="col-12 col-lg-4 mt-3 pe-3">
                <div class="card border-0 bg-danger py-09 w-100 biggest-your__title">
                    <h2 class="text-center text-uppercase fs-5 m-0 text-white">OUR LATEST WINNERS</h2>
                </div>
            </div>
        </div>
        <div class="row bigest_hidden pe-3 px-md-3">
            <div class="col-12 col-lg-8">
                <div class="card border-0 bg-danger bigest_hidden__title p-md-2 w-100 d-md-none">
                    <h2 class="text-center text-uppercase fs-3 m-0 text-white">BIGGEST LOTTERY WINNER</h2>
                </div>
                <div class="card card_w py-3 mt-4 mt-md-2">
                    <div class="row flex-row align-items-center justify-content-center biggest-your__won">
                        <div class="col-auto">
                            <img src="@img/star-loto.webp" class="img-fluid mx-auto d-inline-block" title="winner"
                                 alt="winner">
                        </div>
                        <div class="col-auto">
                            <p class="text-uppercase h2 fw-normal mb-0">Won</p>
                        </div>
                        <div class="col-auto">
                            <p class="display-6 fw-bold text-center text-primary mb-0">€100 000 000</p>
                        </div>
                    </div>
                    <div class="row align-items-center justify-content-around">
                        <div class="col-12 col-md-7 img-card">
                            <img src="@img/prise.webp" class="img-fluid mx-auto d-block" title="winner"
                                 alt="winner">
                            <div class="d-flex align-items-start justify-content-center mt-3 biggest-your__uk">
                                <p class="text-uppercase fw-normal mt-1 me-3 ps-3">UK Lotto results:
                                </p>
                                <div class="d-flex flex-column">
                                    <ul class="list-unstyled d-flex m-0">
                                        {{#repeat 5}}
                                        <li class="me-1"><span
                                                class="badge rounded-circle bg-danger p-03 fs-7">07</span>
                                        </li>
                                        {{/repeat}}
                                    </ul>
                                    <p class="text-end fs-7 pe-4 mb-0 mt-2">Date: 20.11.2021</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md mt-3 mt-md-auto ps-0">
                            <div class="vincent d-flex flex-column ps-2 pe-5 ps-md-0 position-relative">
                                <p class="fw-normal text-center text-md-start fs-16 vincent__title">Shaun Vincent a
                                    Lottery Winner</p>
                                <div class="pe-4">
                                    <p class="fw-400 text-start mb-0 vincent__text">Shaun Vincent, from Barnsley,
                                        celebrates his £1,158,038 National Lottery win after
                                        his cheque presentation at the Cedar Court Hotel, Wakefield.</p></div>
                                <a href="" class="text-center link-primary position-relative my-4">Read the full
                                    story</a>
                                <div class="w-100 text-center">
                                    <button class="btn btn-warning btn-lg position-relative">Play Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="your-latest">
                    <div class="card border-0 bg-danger bigest_hidden__title p-md-2 w-100 d-md-none">
                        <h2 class="text-center text-uppercase fs-3 m-0 text-white">OUR LATEST WINNERS</h2>
                    </div>
                    <div class="row row-cols-1">
                        <div class="col pt-2">
                            <div class="card h-100">
                                <p class="fs-5 text-center your-latest__title m-0">Total prizes paid out</p>
                                <p class="fs-3 fw-bold text-success text-center your-latest__price m-0">US$ 107 233
                                    768</p>
                                <p class="fs-3 fw-normal text-center your-latest__tick m-0">6 975 146 <span
                                        class="fs-5 fw-400">winning tickets</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row row-cols-1 mt-4">
                        {{#repeat 5}}
                        <div class="col p-2">
                            <div class="card pt-2 px-4">
                                <div class="row align-items-center g-0 your-latest__row-card">
                                    <div class="col-auto">
                                        <img src="@img/logo_card.webp" class="img-fluid mx-auto d-block"
                                             title="winner" alt="winner">
                                    </div>
                                    <div class="col ps-3">
                                        <div class="d-flex flex-column justify-content-between">
                                            <p class="text-start fw-400 m-0">20.11.2021</p>
                                            <address class="mb-1">
                                                <img src="@img/icons/icons.svg#country-dem"
                                                     class="img-fluid d-inline-block me-auto svg-whatsapp-dims"
                                                     width="20"
                                                     height="14" alt="country">
                                                <strong class="fw-normal">J.J won Р175</strong><br>
                                                <span class="text-muted fw-400">in 7 ИЗ 49 draw #13476</span><br>
                                            </address>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/repeat}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>