<section class="card-info position-relative">
    <div class="container-xxl pt-md-4">
        <h2 class="text-left text-uppercase fs-3 mt-5 my-md-5">BIGGEST UPCOMING LOTTERY DRAWS</h2>
        <div class="row row-cols-1 row-cols-md-3">
            {{#each biggest.text}}
            <div class="col p-2">
                <div class="card h-100">
                    <div class="row align-items-center justify-content-around p-2">
                        <div class="col-auto">
                            <img src="@img/{{image}}.webp" class="img-fluid mx-auto d-block" title="winner"
                                 alt="winner">
                        </div>
                        <div class="col-auto">
                            <div class="d-flex flex-nowrap justify-content-center"><img
                                    src="@img/icons/icons.svg#country-eng"
                                    class="img-fluid d-inline-block me-1 svg-whatsapp-dims"
                                    width="20"
                                    height="14"
                                    alt="country">
                                <span class="text-uppercase">Mega мillions</span>
                            </div>
                            <p class="text-success fs-3 text-center">$94 000 000</p>
                        </div>
                    </div>
                    <div class="card-footer bg-primary text-white p-2">
                        <div class="row row-cols-2 align-items-center">
                            <div class="col">
                                <button class="btn btn-warning px-51">Play Now</button>
                            </div>
                            <div class="col">
                                <div class="d-flex flex-nowrap justify-content-center"><img
                                        src="@img/icons/icons.svg#alarm"
                                        class="img-fluid d-inline-block me-1 svg-whatsapp-dims"
                                        width="20"
                                        height="14"
                                        alt="country">
                                    <span class="text-uppercase">1:22:01</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>