<section class="richtigen mb-1">
    <div class="container-xxl">
        <div class="row">
            <div class="col col-md-6 ps-5">
                <div class="card border-0 text-muted mt-4 pt-2 px-3">
                    <img src="@img/logo.webp" class="img-fluid mt-1 d-block ms-md-3 me-md-auto richtigen__logo"
                         alt="logo" title="logo">
                    <div class="card-body text-richtigen">
                        <p class="card-text fs-25 mb-4">Möchten Sie frisch gefiltertes Wasser in Ihrem Zuhause, scheuen
                            sich aber davor, eine große Investition zu tätigen? Dann ist das Schwerkraftfiltersystem mit
                            unserem einzigartigen PiPrime-Filter genau das Richtige für Sie. Das
                            PiPrime-Gravitations-Tischgerät benötigt nur wenig Platz und liefert dennoch höchste
                            Trinkwasserqualität, ohne dass es an Ihre Rohrleitungen oder Ihren Strom angeschlossen
                            werden muss. Das Filtersystem wird mit genügend Kartuschen geliefert, um Ihr Leitungswasser
                            ein ganzes Jahr lang schmackhaft und sauber zu halten.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col col-md-6 ps-5 rabatt__bg bg-no-repeat">
                <div class="d-flex justify-content-center align-items-center flex-column">
                    <img src="@img/culler.webp"
                         class="img-fluid pe-3 mt-5 pt-4 mb-1 d-block mx-auto position-relative"
                         alt="richtigen"
                         title="richtigen">
                    <button class="btn btn-image ff_open-sans text-uppercase mt-4 me-4 py-3 position-relative">JA! ICH
                        WILL HEUTE KALKFREIES UND SAUBERES WASSER
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>