<footer class="footer">
    <div class="container-xxl footer__bg bg-no-repeat">
        <div class="row flex-column justify-content-center align-items-center py-5">
            <div class="col col-md-9 g-3">
                <h1 class="footer__h1 text-center text-muted text-richtigen w-100 fw-bold">VERGESSEN SIE NICHT, DASS DER <span
                        class="text-primary">RABATT VON 10 %</span> AUF IHREN GESAMTEN EINKAUFSWAGEN ANGERECHNET WIRD.
                </h1>
            </div>
            <div class="col col-md-8 text-center text-muted pb-5">
                <p class="fs-25 lh-sm fw-300">
                    Sie sind sich noch nicht sicher, welches Filtersystem für Sie am besten geeignet ist? Zögern Sie
                    nicht, uns zu kontaktieren. Wir beraten Sie gerne und finden das beste Filtersystem für Sie und ihre
                    Familie zuhause oder in Ihrem Büro.
                </p>
                <p class="fs-25 lh-sm m-0">Mit freundlichen Grüßen,</p>
                <p class="fs-25 fw-bold lh-sm m-0">Maria Knoch</p>
                <p class="fs-25 text-uppercase text-primary lh-sm m-0 pb-5">GRÜNDERIN VON MAUNAWAI</p>
            </div>
        </div>
    </div>
    <nav class="navbar py-0">
        <div class="container-xxl position-relative h-100">
            <div class="bg-logo"></div>
            <a class="navbar-brand bg-white rounded-circle p-3 logo-position" href="#">
                <img src="@img/logo.webp" class="img-fluid d-block" alt="maunawai" title="maunawai"
                     style="width: 5rem">
            </a>
        </div>
    </nav>
</footer>
