<footer class="footer overflow-hidden">
    <div class="container-xxl px-lg-5 pt-5 position-relative footer__before">
        <div class="py-5"></div>
        <div class="row justify-content-between align-items-center">
            <div class="col-auto">
                <div class="card bg-transparent border-0 pt-2">
                    <div class="row align-items-center g-0">
                        <div class="col-auto">
                            <a href="https://wa.me" aria-label="Share on whatsapp (opens in a new window)"
                               target="_blank"
                               title="whatsapp share (opens in a new window)">
                                <img src="./assets/images/icons/icons.svg#whatsapp"
                                     class="img-fluid d-block me-auto svg-whatsapp-dims" width="36" height="36"
                                     alt="whatsapp">
                            </a>
                        </div>
                        <div class="col ps-3">
                            <p class="text-start fw-normal m-0">Live chat by WhatsApp</p>
                            <p class="text-start fw-400 fs-7 m-0">Customer Service</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-none d-md-block">
                <ul class="list-unstyled d-flex flex-row flex-nowrap justify-content-start ms-md-3 mb-0">
                    <li class="pe-10">
                        <!-- facebook -->
                        <a href="https://www.facebook.com" aria-label="Share on facebook (opens in a new window)"
                           target="_blank" title="facebook share (opens in a new window)">
                            <img src="./assets/images/icons/icons.svg#facebook"
                                 class="img-fluid d-block me-auto svg-facebook-dims" width="36" height="36"
                                 alt="facebook">
                        </a>
                    </li>
                    <li class="pe-10">
                        <!-- facebook-messenger -->
                        <a href="https://www.facebook.com" aria-label="Share on facebook (opens in a new window)"
                           target="_blank" title="facebook share (opens in a new window)">
                            <img src="./assets/images/icons/icons.svg#facebook-messenger"
                                 class="img-fluid d-block me-auto svg-facebook-messenger-dims" width="36" height="36"
                                 alt="facebook-messenger">
                        </a>
                    </li>
                    <li class="pe-10">
                        <!-- twitter -->
                        <a href="https://www.twitter.com" aria-label="Share on twitter (opens in a new window)"
                           target="_blank" title="twitter share (opens in a new window)">
                            <img src="./assets/images/icons/icons.svg#twitter"
                                 class="img-fluid d-block me-auto svg-twitter-dims" width="36" height="36"
                                 alt="twitter">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row justify-content-around align-items-start mt-5 footer__after">
            <div class="col-12 col-md mb-3">
                <p class="text-uppercase fs-5 fw-normal">Useful links</p>
                <nav class="nav row row-cols-2 row-cols-md-1">
                    {{#each link.text}}
                    <a class="nav-link ps-md-0 pb-md-0 pt-1 link-dark" href="#">{{link}}</a>
                    {{/each}}
                    <a class="nav-link ps-md-0 pb-md-0 pt-1 link-dark active" aria-current="page" href="#">Affiliate
                        program</a>
                </nav>
            </div>
            <div class="col-12 col-md mb-3">
                <p class="text-uppercase fs-5 fw-normal">Smartwinners</p>
                <p class="fw-400 fs-7">
                    The trade name SmartWinners and all content on this website is a copyright of SmartWinners Limited.
                    All rights reserved. We are an independent lottery ticket purchasing service. We are not affiliated
                    with nor are we endorsed by any State sanctioned lottery organization. We make no claims on our site
                    to be such.
                </p>
                <address class="fs-8 fw-400">
                    <p class="mb-1">Our registered business address is</p>
                    <p class="mb-1 d-inline-block d-md-block">Unit 6158, PO Box 6945, London, W1A</p>
                    <p class="mb-1 d-inline-block d-md-block">6US, United Kingdom.</p>
                </address>
            </div>
            <div class="col-12 col-md">
                <div class="row flex-md-column align-items-start align-items-md-center justify-content-center">
                    <div class="col-7">
                        <p class="text-uppercase fw-normal fs-5 text-start text-md-center">Payment methods</p>
                        <div class="row justify-content-center align-items-start">
                            {{#each payment.text}}
                            <div class="col-4 col-md-auto p-2">
                                <img src="@img/{{image}}.webp" class="img-fluid mx-auto d-block" title="winner"
                                     alt="winner">
                            </div>
                            {{/each}}
                        </div>
                    </div>
                    <div class="col-7">
                        <p class="text-uppercase fw-normal fs-5 text-center mt-md-4 mb-0">Securety & trust</p>
                        <div class="row justify-content-center align-items-start">
                            <div class="col-auto p-2">
                                <img src="@img/ctv.webp" class="img-fluid mx-auto d-block" title="winner" alt="winner">
                            </div>
                            <div class="col-auto p-2">
                                <img src="@img/comodo.webp" class="img-fluid mx-auto d-block" title="winner"
                                     alt="winner">
                            </div>
                            <div class="col-12 d-md-none ms-5 mt-5 mb-3">
                                <ul class="list-unstyled d-flex flex-row flex-nowrap justify-content-start ms-md-3 mb-0">
                                    <li class="pe-10">
                                        <!-- facebook -->
                                        <a href="https://www.facebook.com" aria-label="Share on facebook (opens in a new window)"
                                           target="_blank" title="facebook share (opens in a new window)">
                                            <img src="./assets/images/icons/icons.svg#facebook"
                                                 class="img-fluid d-block me-auto svg-facebook-dims" width="24" height="24"
                                                 alt="facebook">
                                        </a>
                                    </li>
                                    <li class="pe-10">
                                        <!-- facebook-messenger -->
                                        <a href="https://www.facebook.com" aria-label="Share on facebook (opens in a new window)"
                                           target="_blank" title="facebook share (opens in a new window)">
                                            <img src="./assets/images/icons/icons.svg#facebook-messenger"
                                                 class="img-fluid d-block me-auto svg-facebook-messenger-dims" width="24" height="24"
                                                 alt="facebook-messenger">
                                        </a>
                                    </li>
                                    <li class="pe-10">
                                        <!-- twitter -->
                                        <a href="https://www.twitter.com" aria-label="Share on twitter (opens in a new window)"
                                           target="_blank" title="twitter share (opens in a new window)">
                                            <img src="./assets/images/icons/icons.svg#twitter"
                                                 class="img-fluid d-block me-auto svg-twitter-dims" width="24" height="24"
                                                 alt="twitter">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
