<div class="container-xxl position-relative header">
    <div class="row justify-content-between justify-content-md-start align-items-center pt-2_8">
        <div class="col-auto d-md-none header__button">
            <nav class="navbar navbar-expand-lg navbar-light rounded p-0 border-0">
                <button class="navbar-toggler border-0 pb-0" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>
        </div>
        <div class="col-auto ms-4 ms-sm-0 header__logo">
            <div class="d-flex position-relative">
                <img src="@img/logo.webp" class="img-fluid ms-auto me-md-4 d-block logo-img" title="winner" alt="winner">
                <div class="position-absolute w-100 h-100">
                    <a class="navbar-brand stretched-link text-transparent" href="#">winner</a>
                </div>
            </div>
        </div>
        <div class="col-auto d-md-none">
            <a href="#" class="btn btn-primary h-100 btn-avatar p-0 header__profile-link">
                <img src="@img/icons/icons.svg#profile" class="img-fluid me-auto svg-twitter-dims"
                     width="24"
                     alt="My Account">
            </a>
        </div>
        <div class="col ps-md-0">
            <div class="d-flex flex-md-column justify-content-around justify-content-md-between fw-400 header__welcome">
                <div class="me-3">
                    <p class="d-inline ls-001">Welcome <b>Roma</b> — </p>
                    <a href="#" class="text-decoration-none">Logout</a>
                </div>
                <p class="m-0 ls-001 header__welcome-balance">Your balance: <b>Р 0,00</b></p>
            </div>
        </div>
        <div class="col-auto col-p-12 d-none d-md-block ps-0">
            <div class="d-flex flex-column align-self-center">
                {{>social}}
                <div class="btn-group me-auto bias_4-2">
                    <button type="button" class="btn border-0 dropdown-toggle" data-bs-toggle="dropdown"
                            aria-expanded="false">
                        <img src="@img/icons/icons.svg#country-eng"
                             class="img-fluid d-inline-block me-auto svg-whatsapp-dims"
                             width="20"
                             height="14"
                             alt="country">
                        <span class="px-2">English</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="#">item</a></li>
                        <li><a class="dropdown-item" href="#">item</a></li>
                        <li><a class="dropdown-item" href="#">item</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light rounded p-0 border-0" style="top: 1px;margin-right: -2px;">
        <div class="collapse navbar-collapse navbar_h-34" id="navbarNav">
            <ul class="navbar-nav fs-16">
                <li class="nav-item navbar-nav_after position-relative ps-4 pe-3">
                    <a class="nav-link text-uppercase text-white pb-0" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item navbar-nav_after position-relative ps-4 pe-3">
                    <a class="nav-link text-uppercase text-white pb-0" href="#">Play all lottery</a>
                </li>
                <li class="nav-item navbar-nav_after position-relative ps-4 pe-3">
                    <a class="nav-link text-uppercase text-white pb-0" href="#">Lottery groups</a>
                </li>
                <li class="nav-item navbar-nav_after position-relative ps-4 pe-3">
                    <a class="nav-link text-uppercase text-white pb-0" href="#">Promotions</a>
                </li>
            </ul>
            <a href="#" class="btn btn-primary px-38 ms-auto h-100 position-relative text-uppercase d-none d-md-block"
               style="left: 1px">My
                Account</a>
        </div>
        <div class="row d-none">
            <div class="col-auto">
                <div class="d-flex flex-column align-self-center">
                    {{>social}}
                    <div class="btn-group">
                        <button type="button" class="btn border-0 dropdown-toggle" data-bs-toggle="dropdown"
                                aria-expanded="false">
                            <img src="@img/icons/icons.svg#country-eng"
                                 class="img-fluid d-inline-block me-auto svg-whatsapp-dims"
                                 width="20"
                                 height="14"
                                 alt="country">
                            <span class="px-2">English</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="#">item</a></li>
                            <li><a class="dropdown-item" href="#">item</a></li>
                            <li><a class="dropdown-item" href="#">item</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>