<section class="pay position-relative section_pt">
    <div class="container-xxl pay__container">
        <div class="card border-0 bg-danger py-09 w-100">
            <h2 class="text-center text-uppercase fs-5 m-0 text-white">PLAY UPCOMING LOTTERIES ONLINE</h2>
        </div>
        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-5 mt-3 pay__row">
            {{#repeat 10}}
            <div class="col pb-3">
                <div class="card pay__card h-100 pt-3">
                    <img src="@img/icons/icons.svg#star"
                         class="img-fluid d-inline-block me-1 position-absolute top-r-10 end-r-18 card__star"
                         width="20"
                         height="14"
                         alt="star">
                    <div class="row flex-column align-items-center justify-content-around">
                        <div class="col-auto">
                            <img src="@img/mega-round.webp" class="img-fluid mx-auto d-block card__mega" title="winner"
                                 alt="winner">
                        </div>
                        <div class="col-auto mt-4">
                            <div class="d-flex flex-nowrap justify-content-center position-relative pay__flag"><img
                                    src="@img/icons/icons.svg#country-eng"
                                    class="img-fluid d-inline-block me-1 svg-whatsapp-dims"
                                    width="20"
                                    height="14"
                                    alt="country">
                                <span class="text-uppercase">Mega мillions</span>
                            </div>
                            <p class="fs-4 text-center mb-0 ms-2 price">$122 000 000</p>
                        </div>
                    </div>
                    <div class="card-footer bg-transparent border-0 ">
                        <div class="row row-cols-1 align-items-center justify-content-center">
                            <div class="col pb-2">
                                <div class="d-flex flex-nowrap justify-content-center"><img
                                        src="@img/icons/icons.svg#alarm-blue"
                                        class="img-fluid d-inline-block me-1 svg-whatsapp-dims"
                                        width="16"
                                        height="16"
                                        alt="country">
                                    <span class="text-uppercase text-primary">1:22:01</span>
                                </div>
                            </div>
                            <div class="col text-center pt-1">
                                <button class="btn btn-warning px-51">Play Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/repeat}}
        </div>
        <div class="w-100 text-end">
            <a href="/" class="link-primary fs-5 fw-normal pay__link d-none d-md-block">More Details »</a>
            <a href="/" class="link-primary fs-5 fw-normal pay__link d-md-none">All lotteries »</a>
        </div>
    </div>
</section>