<section class="rabatt mb-1">
    <div class="container-xxl">
        <div class="row">
            <div class="col col-md-6 ps-5 pb-4 rabatt__bg bg-no-repeat">
                <div class="d-flex justify-content-center align-items-center flex-column">
                    <img src="@img/rabatt.webp"
                         class="img-fluid pe-3 mt-5 pt-4 mb-1 d-block mx-auto position-relative"
                         alt="rabatt"
                         title="rabatt">
                    <button class="btn btn-image ff_open-sans text-uppercase mt-4 me-4 py-3 position-relative">
                        JA! ICH WILL MEINEN RABATT JETZT!
                    </button>
                </div>
            </div>
            <div class="col col-md-6 px-0">
                <div class="card rabatt__card border-0 text-muted mt-0 pt-5 px-3 h-100 rounded-0">
                    <img src="@img/logo_white.webp" class="img-fluid mt-1 d-block ms-md-3 me-md-auto richtigen__logo"
                         alt="logo" title="logo">
                    <div class="card-body text-richtigen">
                        <p class="card-text fs-25 mb-4 text-white">Für unterwegs oder beim Training empfehlen wir
                            unsere
                            Filter-Wasserflasche. Die robuste MAUNAWAI Outdoor-Filterflasche verwandelt Flusswasser
                            in
                            einem dreistufigen Filterprozess in sauberes und gesundes Trinkwasser. Wir bieten
                            außerdem
                            eine große Auswahl an Glasflaschen an, einschließlich einer formschönen Schutzhülle aus
                            recycelten Materialien. Auf diese Weise können Sie Ihren Körper mit Flüssigkeit
                            versorgen,
                            ohne die Umwelt dabei zu belasten.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>