<section class="pt-70 ps-2">
    <div class="container-xl text-muted">
        <p class="fs-25">Sehr geehrter (NACHNAME)!</p>
        <div class="row">
            <div class="col-md-11">
                <p class="fs-35_7 fw-400 ps-1 pe-5 text-sehr">Sie haben Ihren persönlichen 10%-Rabattcode noch nicht verwendet und er läuft bald ab.
                    Deshalb melden wir
                    uns, um Ihnen zu zeigen, wie Sie Ihren Rabattcode am besten nutzen können.</p>
            </div>
        </div>
    </div>
</section>